<div class="emptySpace"></div>
<div class="addNewUser adminTitle border">
    <h2>Add a new user</h2>
    <form id="newUserForm" method="POST" action="/navigate/admin/users">
        <input id="postNewUserFirstName" type="text" placeholder="First Name" required class="tableData" style="width: 150px">
        <input id="postNewUserLastName" type="text" placeholder="Last Name" required class="tableData" style="width: 150px">
        <input id="postNewUserDOB" type="text" placeholder="D.O.B." required class="tableData" style="width: 100px">
        <input id="postNewUserEmail" type="text" placeholder="Email" required class="tableData" style="width: 250px">
        <input id="postNewUserPassword" type="text" placeholder="Password" required class="tableData" style="width: 100px">
        <input id="postNewUserPhone" type="text" placeholder="Phone" required class="tableData" style="width: 100px">
        <input id="postNewUserIsAdmin" type="text" placeholder="isAdmin" required class="tableData" value="false" style="width: 75px; color:var(--error)">
        <input type="button" class="newUserBtn" style="width: 100px" value="Create User" onclick="createUser()"/>
    </form>
</div>
<br>
<div class="usersList adminTitle border">
    <h2>Users</h2>
    <table>
      <tr>
        <th style="width: 200px">User ID</th>
        <th style="width: 150px">First Name</th>
        <th style="width: 150px">Last Name</th>
        <th style="width: 250px">Email</th>
        <th style="width: 125px">Phone</th>
        <th style="width: 200px">Unit ID</th>
        <th style="width: 75px">Apt #</th>
        <th style="width: 75px">isAdmin</th>
      </tr>
      {{#each users}}
      <tr>
        <td class="tableData"><a href="/navigate/admin/users/{{this._id}}" >{{this._id}}</a></td>
        <td><input type="text" readonly value="{{this.firstName}}" class="tableData"></td>
        <td><input type="text" readonly value="{{this.lastName}}" class="tableData"></td>
        <td><input type="text" readonly value="{{this.email}}" class="tableData"></tds=>
        <td><input type="text" readonly value="{{this.phone}}" class="tableData"></td>
        <td class="tableData"><a href="/navigate/admin/units/{{this.unit._id}}" >{{this.unit._id}}</a></td>
        <td><input type="text" readonly value="{{this.unit.apartmentNumber}}" class="tableData"></td>
        <td><input type="text" readonly value="{{this.isAdmin}}" class="tableData" style="color: {{#if this.isAdmin}}var(--colorGO){{else}}var(--error){{/if}};"></td>
      </tr>
      {{/each}}
    </table>
</div>


<script src="../../../js/postNewUser.js"></script>