<div class="emptySpace"></div>
<div class="usersList adminTitle border">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <br>
    <table>
        <tr>
            <th style="width: 225px">User ID</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
            <th style="width: 100px">D.O.B.</th>
            <th style="width: 50px">Age</th>
            <th style="width: 250px">Email</th>
            <th style="width: 125px">Phone</th>
            <th style="width: 100px">Password</th>
            <th style="width: 75px">isAdmin</th>
        </tr>
        <tr>
            <td><input type="text" value="{{user._id}}" class="tableData"></td>
            <td><input type="text" value="{{user.firstName}}" class="tableData"></td>
            <td><input type="text" value="{{user.lastName}}" class="tableData"></td>
            <td><input type="text" value="{{formatDate user.dob}}" class="tableData"></td>
            <td><input type="text" value="{{user.age}}" class="tableData"></td>
            <td><input type="text" value="{{user.email}}" class="tableData"></td>
            <td><input type="text" value="{{user.phone}}" class="tableData"></td>
            <td><input type="text" value="{{user.password}}" class="tableData"></td>
            <td><input type="text" readonly value="{{user.isAdmin}}" class="tableData" style="color: {{#if user.isAdmin}}var(--colorGO){{else}}var(--error){{/if}};"></td>
            <td><input type="button" class="updateTableDataBtn" style="width: 100px" value="Update User"/></td>
        </tr>
    </table>
</div>
<div class="emptySpace"></div>
<div class="usersList adminTitle border">
    <h2>{{user.unit.apartmentNumber}} Unit Info</h2>
    <br>    
    <table>
        <tr>
            <th style="width: 300px">Unit ID</th>
            <th style="width: 75px">Apt #</th>
            <th style="width: 100px">Floor Plan</th>
            <th style="width: 100px">Bedrooms</th>
            <th style="width: 100px">Bathrooms</th>
            <th style="width: 125px">Monthly Rent</th>
        </tr>
        <tr>
            <td><input type="text" value="{{user.unit._id}}" class="tableData"></td>
            <td><input type="text" value="{{user.unit.apartmentNumber}}" class="tableData"></td>
            <td class="tableData" onclick="openModal('{{user.unit.floorPlanImage}}')"><a href="javascript:void(0)">{{user.unit.floorPlan}}</a></td>
            <td><input type="text" value="{{user.unit.bedrooms}}" class="tableData"></td>
            <td><input type="text" value="{{user.unit.bathrooms}}" class="tableData"></td>
            <td><input type="text" value="${{user.unit.monthlyRent}}" class="tableData"></td>
        </tr>
    </table>
</div>
<div class="emptyspace"></div>
<div class="usersList adminTitle border">
    <h2>{{user.unit.apartmentNumber}} Other Occupants Info</h2>
    <br>
    <table>
        <tr>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
            <th style="width: 100px">D.O.B.</th>
            <th style="width: 50px">Age</th>
            <th style="width: 125px">Relationship</th>
        </tr>
        <tr>
            <td><input type="text" value="" class="tableData"></td>
            <td><input type="text" value="" class="tableData"></td>
            <td><input type="text" value="" class="tableData"></td>
            <td><input type="text" value="" class="tableData"></td>
            <td><input type="text" value="" class="tableData"></td>
            <td><input type="button" class="updateTableDataBtn" style="width: 100px" value="Add New"/></td>
        </tr>
    {{#each user.otherOccupants}}
        <tr>
            <td><input type="text" value="{{this.firstName}}" class="tableData"></td>
            <td><input type="text" value="{{this.lastName}}" class="tableData"></td>
            <td><input type="text" value="{{formatDate this.dob}}" class="tableData"></td>
            <td><input type="text" value="{{this.age}}" class="tableData"></td>
            <td><input type="text" value="{{this.relationship}}" class="tableData"></td>
            <td><input type="button" class="updateTableDataBtn" style="width: 100px" value="Update"/></td>
            <td><input type="button" class="deleteUserBtn" style="width: 100px" value="Remove"/></td>
        </tr>
    {{/each}}
    </table>
</div>
<div class="emptySpace"></div>
<div class="emptySpace"></div>
<div class="emptySpace"></div>
<br>
<div class="deleteUser adminTitle border">
    <h2>Delete a user</h2>
    <form>
        <input type="text" placeholder="User ID" id="deleteUserID" class="tableData" style="width: 200px">
        <input type="button" class="deleteUserBtn" style="width: 100px" value="Delete User" onclick="deleteUser()">
    </form>
</div>

<!-- Floor Plan Modal ** Hidden by default ** -->
<div id="floorPlanModal" class="modal border">
    <div class="modalImgContainer">
        <span id="close" class="close">X</span>
        <img class="modal-image" src="/images/floorplans/{{user.unit.floorpPlanImage}}" alt='{{user.unit.floorPlanImage}}'>
    </div>
</div>

<script src="../../../js/floorPlanModal.js"></script>
<script src="../../../js/deleteUser.js"></script>